* {
    /* margin:0;
    padding:0; */
    box-sizing: border-box;
}

.container {
    height: 400px;
    border: 2px solid green;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* flex-flow: column nowrap; */

    justify-content: flex-end;

    align-items: flex-start;

    align-content: flex-start;

    /* gap:10px; */
}

.box {
    border: 1px solid brown;
    background-color: aqua;
    width: 150px;
    /* flex-basis:50%; */
    /* flex-basis:100px; */
    /* width:100px;  */
}

#box1 {
    order: 1;
    /* flex-grow:1; */
    /* flex-shrink:4; */
    /* align-self:flex-start; */
}

#box3 {
    order: 8;
    /* align-self:flex-end; */
    /* flex-shrink:2; */
    /* flex-grow:1;
} */
}

#box2 {
    order: 8;
    /* /* align-self:stretch; */
}