div{
    height:100px;
    width:100px;
    background-color: aqua;
    border:1px solid black;
}

.translated{
  transform: perspective(15px) translateZ(-10px);
}

.scaled{
  margin-left:200px;
  transform:rotateZ(30deg);
  /* transform: perspective(350px) scaleZ(6) rotateX(45deg) rotateY(30deg); */
}

